{% load i18n static %}<!DOCTYPE html>
<html><head>
  <meta charset="utf-8" />
  <title>{% block titulo %}SEW{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/principal.css" %}" />
  {% block encabezado %}{% endblock %}
</head>
<body>
  {% block cuerpo %}
  <header class="wrap-foot-down">
    {% block cabecera %}
    En construccion
    {% endblock %}
  </header>
  {% block contenido %}
  <article class="wrap-foot-down">
    <a href="{% url socialauth_begin 'twitter' %}">Login con Twitter</a><br/>
    <a href="{% url blogs-url %}">Blogs alojados (NO requiere login)</a>
  </article>
  {% endblock %}
  <footer class="wrap-foot-down">
    {% block pie %}
    <small>Funcionando con</small><br />
    <img src="{% static "img/sew_logo_88x31.png" %}" alt="Logo de SEW" />
    {% endblock %}
  </footer>
  {% endblock %}
</body></html>
