{% extends "blogs/index.htm" %}

{% block titulo %}{{ blog.titulo }}{% endblock %}

{% block cabecera %}
  <h1>{{ blog.titulo }}</h1>
  <p>{{ blog.descripcion }}</p>
{% endblock %}

{% block contenido %}
  {% for articulo in articulos %}
  <article>
    <h2>{{ articulo.titulo }}</h2>
    <p>{{ articulo.contenido }}</p>
  <article>
  {% endfor %}
{% endblock %}

{% block pie %}
  <div class="paginacion">
    {% if articulos.has_previous %}
      <a href="?pagina={{ articulos.previous_page_number }}">anterior</a>
    {% endif %}
    <span class="current">
      pagina {{ articulos.number }} de {{ articulos.paginator.num_pages }}
    </span>
    {% if articulos.has_next %}
      <a href="?pagina={{ articulos.next_page_number }}">siguiente</a>
    {% endif %}
  </div>
{% endblock %}
