{% load i18n static %}<!DOCTYPE html>
<html><head>
  <meta charset="utf-8" />
  <title>{% block titulo %}SEW{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static "blogs/css/principal.css" %}" />
  <link rel="shortcut icon" href="{% static "img/favicon.png" %}" />
  {% block encabezado %}
  {% endblock %}
</head>
<body>
  {% block cuerpo %}
  <header>
    {% block cabecera %}
    Blogs en SEW
    {% endblock %}
  </header>
  <section>
  {% block contenido %}
      <article class="no-redimensionar">
          {% if num_blogs = 1 %}
              Hay 1 blog
          {% else %}
              Hay {{ num_blogs }} blogs
          {% endif %}
          <ul>
              {% for blog in blogs %}
                  <li>
                    <a href="{% url blogs-url %}{{ blog.url }}/">{{ blog.titulo }}</a>
                  </li>
              {% endfor %}
          </ul>
      </article>
  {% endblock %}
  </section>
  <footer>
    {% block pie %}
    <div class="funcionando-con-sew">
      <a href="//github.com/jhg/sew">
        <small>Funcionando con</small><br />
        <img src="{% static "img/sew_logo_88x31.png" %}" alt="Logo de SEW" />
      </a>
    </div>
    {% endblock %}
  </footer>
  {% endblock %}
</body></html>
