{% block titulo %}{{ blog.titulo }}{% endblock %}

{% block encabezado %}
{% endblock %}

{% block cabecera %}
  <h1>
    <a href="//{{ host }}{% url blogs-url %}">
      {{ blog.titulo }}
    </a>
  </h1>
  <p>{{ blog.descripcion }}</p>
{% endblock %}

{% block contenido %}
  {% if articulos|length == 1 and not articulos.has_other_pages %}
    {% for articulo in articulos %}
    <article class="articulo-unico">
      <h1>{{ articulo.titulo }}</h1>
      <div class="contenido-articulo">
      {{ articulo.contenido|safe }}
      </div>
    </article>
    {% endfor %}
  {% else %}
    {% for articulo in articulos %}
    <article>
      <h1>{{ articulo.titulo }}</h1>
      <div class="ir-al-articulo">
        <a href="//{{ host }}{% url blogs-url %}{{ articulo.url }}/">
          Ir al articulo
        </a>
      </div>
      <div class="contenido-articulo">
      {{ articulo.contenido|safe }}
      </div>
    </article>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block panel %}
{% endblock %}

{% block pie %}
  {% block paginacion %}
    {% if articulos.has_other_pages %}
    <div class="paginacion">
      {% if articulos.has_previous %}
        <a href="?pagina=1">inicio</a>
        <a href="?pagina={{ articulos.previous_page_number }}">&lt;</a>
        {% for anterior in anteriores_pag %}
          <a href="?pagina={{ anterior }}">{{ anterior }}</a>
        {% endfor %}
      {% endif %}
      <span class="pagina-actual">
        {{ articulos.number }}
      </span>
      {% if articulos.has_next %}
        {% for posterior in posteriores_pag %}
          <a href="?pagina={{ posterior }}">{{ posterior }}</a>
        {% endfor %}
        <a href="?pagina={{ articulos.next_page_number }}">&gt;</a>
        <a href="?pagina={{ articulos.paginator.num_pages }}">final</a>
      {% endif %}
    </div>
    {% endif %}
  {% endblock %}
{% endblock %}
