{% extends "admin/base.htm" %}
{% block titulo %}Administración{% endblock %}
{% block cabecera %}
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
{% endblock %}
{% block cuerpo %}

<header>Administración</header>

<nav></nav>

<section>
<header>Pizarra</header>
<canvas>Tu navegador no es compatible con canvas de HTML5</canvas>
</section>

<section id="mover">
<header>Aplicaciones Django</header>
Lista de aplicaciones
</section>

<section>
<header>Herramientas</header>
Lista de herramientas
</section>

<section>
<header>Aplicaciones Django</header>
<iframe src="{% url aplicacionesdjango %}"></iframe>
</section>

<aside>
<div class="ventanas_activas"></div>
</aside>

<footer></footer>
<script type="text/javascript" src="{{ STATIC_URL }}admin/base.js"></script>
{% endblock %}
