<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Administración</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/base.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
</head>
<body>

<header>Administración</header>

<nav></nav>

<section id="mover">
<header>Aplicaciones Django</header>
Lista de aplicaciones
</section>

<section>
<header>Herramientas</header>
Lista de herramientas
</section>

<footer></footer>
<script type="text/javascript" src="{{ STATIC_URL }}admin/base.js"></script>
</body>
</html>
